.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    display:inline-block;
    color: #f2f2f2;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 auto;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.main-content {
    margin-left:auto;
    margin-right:auto;
    width: 55%;
    padding: 30px;
    background-color: #dedce5;
}

.content-heading {
    font-size: 40px;
    padding-bottom:10px;
    margin-bottom: 30px;
    border-bottom:5px solid black;
}

.content-image-small {
    border: 2px solid black;
    display:block;
    float:right;
    margin: 10px;
    width:25%;
}

.content-image-whole{
    width:65%;
    border: 2px solid black;
    display:block;
    margin:auto;
      -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
          box-sizing: border-box;
	
}

.equation-center{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

body {
	background-color: white;
}

#top-bar h1 {
  text-align: center;
  font-size:100px;
}

#top-bar p {
  font-size:17px;
  margin-left: auto;
  margin-right: auto;
  height
  width: 50%;
  font-family: sans-serif;
}

.post-date{
  text-align: center;
  padding: 10px;
}

.post-title {
  text-align: left;
  padding: 10px;
}

.post-content {
  text-align: left;
  padding: 10px;
}

.table-image {
  width: 150px;
  height: 200px;
  padding: 5px;
}

.table-header {
  font-weight: bold;
  font-size: 20px;
  background-color:  #4CAF50; 
  /*background-color: black; */
  color: white;
  width:50%;
  margin: auto;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-shadow: 1px 1px black;
}

.table,tr {
  border-bottom: 5px solid grey;
  border-right: 5px solid grey;
  border-left: 5px solid grey;
  border-top: 5px solid grey;
  padding: 20px; 
}

.lower-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

.upper-footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height:80px;
	background-color:grey;
	text-align:center;
	margin-top: 40px;
}

.intro {
  font-size: 20px;
	text-align: center;
	margin: auto;
	width:40%;
	padding: 10px;
}

.botbutton{
	width: 50px;
	height: 50px;
}


.post-list {
  margin: auto;
  width:40%;
}

.post-title a{
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-align: center;
}

.post-title a:hover{
  text-decoration: none;
  color:red;
  text-align: center;
}


.code-box{
  background-color: #f9f9f9;
  border: 1px solid rgb(221, 221, 221);
  font-weight: bold;
  font-size: 20px;
  line-height: 13em;
  text-align:center;
  font-family: Courier New,monospace;
  line-height:normal;
  white-space:normal;
  padding: 1em;  
}

.code-box2{
  background-color: white;
  color: black;
  border: 1px solid rgb(221, 221, 221);
  font-size: 14px;
  font-weight: bold;
  font-family: Courier New,monospace;
  padding: 1em;  

