.col-md-3.mt-3
  .row
    .logo-block.col
      img(src="static/assets/logo.png").img-fluid.p-2.rounded
      .contact-block
        .h5.text-center.font-weight-bold Daniel White
        ul.list-inline.text-center
          li.inline-list-item
            a(href="mailto:whitedann@gmail.com" title="Email: whitedann@gmail.com")
              i.fa.fa-lg.fa-envelope.contact-logo
          li.inline-list-item
            a(href="https://github.com/whitedann" title="Github Profile")
              i.fab.fa-lg.fa-github.contact-logo
          li.inline-list-item
            a(href="https://www.linkedin.com/in/daniel-white-76434a66/" title="LinkedIn Profile" rel="me")
              i.fab.fa-lg.fa-linkedin.contact-logo
      hr.bg-white
      ul.nav.nav-first.flex-column
        li.nav-item
          a(href="/").text-decoration-none.text-reset Home
        li.nav-item
          a(href="/blog").text-decoration-none.text-reset Blog
        li.nav-item
          a(href="/projects").text-decoration-none.text-reset Projects
      ul.nav.nav-second.flex-column
        li.nav-item
          a(href="/resume").text-decoration-none.text-reset.resume Resume
            a.ml-1.res(href="/resume/danielwhite.pdf")
              i.far.fa-file-pdf(title="PDF Resume")
      hr.bg-white
