.col-md-3
  .row
    .logo-block.col
      img(src="static/assets/Unknown.svg").img-fluid
      .contact-block
        .h5.text-center.font-weight-bold Daniel White
        ul.list-inline.text-center
          li.inline-list-item
            a(href="mailto:whitedann@gmail.com" title="Email: whitedann@gmail.com")
              i.fa.fa-lg.fa-envelope.contact-logo
          li.inline-list-item
            a(href="https://github.com/whitedann")
              i.fab.fa-lg.fa-github.contact-logo
          li.inline-list-item
            a(href="https://www.linkedin.com/in/daniel-white-76434a66/" title="LinkedIn Profile" rel="me")
              i.fab.fa-lg.fa-linkedin.contact-logo
      hr.bg-white
      ul.nav.nav-first.flex-column
        li.nav-item
          a(href="/").text-decoration-none.text-reset Home
        li.nav-item
          a(href="/blog").text-decoration-none.text-reset Blog
        li.nav-item
          a(href="/projects").text-decoration-none.text-reset Projects
      ul.nav.nav-second.flex-column
        li.nav-item
          a(href="/resume").text-decoration-none.text-reset Resume(coming soon)
      hr.bg-white  
