extends layout

block content
  .col-md-9
    h1 Last Circle
    hr.bg-white
    .text-center.py-3
      img(width='60%' src="assets/LastCircleTitle.png")
    p I spent a couple months trying to make a game this summer. It presented quite a few interesting challenges and in hindsight there are a lot of things I would have done differently. Overall, I am relatively pleased with the way it turned out. 
    p I began with the default java.awt API used to open windows and draw shapes to the screen. Eventually I had a working prototype for the game and I decided not to enlist the help of a more robust framework like OpenGL or the like; This project was not meant to be flashy, so the .awt framework ended up meeting my needs. Below is a short clip of the game in action. The player controls a blue-turqoise octogon by moving and shooting in the cardinal directions(N, S, W, E). Movement in intercardinal directions(NE,NW,SE,SW) is also possible if the player moves holds down the two buttons at once. The goal is to survive as long as possible. Each enemy destroyed is worth 5 points. 
    .text-center.pb-3
      video(width='60%' autoplay, loop, muted).float-left.pr-2
        source(src="assets/LastCircleDemo2.mp4", type="video/mp4")
    p The spawn interval begins at 5 seconds and slightly increases as the player's score increases. I wanted to create the feeling that the player was being slowly overwhelmed. I kept track of the enemies in a LinkedList structure and added and removed from it as enemies spawned or were destroyed.
    p This ended up being an inefficient approach due to the fact that the game was checking was for a ton of collisions at each tick. The game attempts to check for collisions between each creature, wall entity, player and bullet projectile at each tick (60 times per second). Obviously this was not going to work if I wanted to have dozens of enemies on the field at once, or have the player shoot a lot of projectiles.
    h2 Collision detection
    p To make the game run faster, I broke up the world into small square regions, so that I only needed to perform collision checks on entities that were in the the same "region": 
    img(width='40%' src="assets/WorldGrid1.png").float-left.pr-2
    p In this diagram we would first sort the four entities into seperate lists for each region, then we would go through and only check for collisions for each region. For region (0,0) that would be entities A, B, and D. For region (0,1), that would be entities B, C, and D.
    p With this method, we eliminate a lot of checks between objects that are too far apart to collide. It also gives us a nice way to track the presence of entities in any particular area on the game field (I used this data to prevent enemies from spawning on top of each other).
    p At a minimum, we are still going to have to iterate through all of the entities in the game i.e. If there are N entities, we are going to have to check N items against N other entities for collisions. This overhead can add up pretty quick and drag down the frame rate. If we prevent enemies from moving thorugh each other, the maximum amount of collision checks for any entity is limited to the number of entities that can fit inside of a cell. I used a region size of 64x64 pixels, and since the sizes of my entities were 16x16, 32x32 and 64x64 pixels, it was impossible for more than 8 enemies to occupy the same cell. Still, this is not really very ideal. It turns out that there are better ways to detect collisions between particles in a 2D space. Check out this video that keeps track of entites inside of a quadtree data structure (rather than a List) to optimize collision detection between particles. 
    h4 Calculating Collisions Between Circular Entities
    p What is the math that we actually use to determine if two entities are colliding? It depends on the shape of the entiies. Most of the entities in this game were some form of circle, which is great because checking for collisions between entities is simple. If two circles A and B have radii R and r respectively then all we have to do is check that their relative separation distance, S, is greater than the sum of their two radii. 
    p We can optimize this calculation by simply squaring both sides of the equation. This way, we avoid having to use the more expensive square root operation.
    h4 Calculating Collisions Between Rectangular And Circular Entities
    video(width='30%' autoplay, loop, muted).float-right.pr-2
      source(src="assets/collisionDemo.mp4", type="video/mp4")
    p Calculating collisions between circles and rectanlge is a bit more complicated. With circles, the bounds of the shape are constant; wherever you are arond the circle, the distance to the center is always the same (because the radius is a constant). 
    p With a rectangle, the distance from the center to the edge of the rectangle depends on your position relative to the center, so we have to do a little more math. The function below descibes a way of checking for a collision between a rectangular shape(with known height, width, position) and a circular entity(with known radius and position). 
    pre.mx-5.p-3.code-block.rounded
      code
        |1  public boolean entityIntersectsRect(Rectanlge rect, Entity e){
        |2    double circleDistanceX = Math.abs(e.getCenterX() - rect.getCenterX()); 
        |3    double circleDistanceY = Math.abs(e.getCenterY() - rect.getCenterY());
        |4
        |5    if(circleDistanceX &gt; (e.getRadius() + rect.getWidth()/2)) {return false;}
        |6    if(circleDistanceY &gt; (e.getRadius() + rect.getHeight()/2)) {return false;}
        |7
        |8    if(circleDistanceX &lt; (e.getRadius() + rect.getWidth()/2)) {return true;}
        |9    if(circleDistanceY &lt; (e.getRadius() + rect.getHeight()/2)) {return true;}
        |10
        |11   cornerSquareDistance = ((circleDistanceX - rect.getWidth()/2)^2 + 
        |12                  (circleDistanceY - rect.getHeight()/2)^2)
        |13   return (cornerSquareDistance &lt;= e.getRadius()^2);
        |
    p Let's go over how this is function works. We are checking for three seperate cases.
    img(width='30%' src="assets/collisionDiagram.jpg").float-right.ml-2.img-thumbnail
    p The first two lines of the function calculate the distance between the center of the circle and center of the rectangle in component x, y form. 
    p 1. The second two lines check for the "easy case" where a collision is impossible because the relative distance is greater than the radius of the circle and the maximum bounds of the rectangle. In the diagram, the corresponds to the circle being in the green region. 
    p 2. The next two lines check for the easy case where a collision is guranteeed because the rectangles bounds are greater than the separation distance. This corresponds to the grey and orange sections on the diagram.
    p 3. The last lines compute the more difficult case where the circle can intersect the corner of the rectangle. It accomplishes this by calculating the distance of the center of the circle to the edge of the rectangle and then comparing this to the radius of the circle. If the radius is larger than this distance, then the function returns false corresponding to circles in the red region, or true for circles who intersect the white region.
    p Notice in the return statement that we are comparing the squared distances. This is to avoid having the use the comparatively expensive square root operation on either side of the equation. 
    h3 Animations and Sprites
    p The game animates entities by looping through an array of buffered images for each tick. By default, objects loop through this array indefinitely until some flag is given. For example, the player death flag switches the player animation to a death animation. For the sake of convenience, animations are composed of images that exist on larger image sheets. At run time, the game loads these sheets and crops them into their individual form. Here are some spritesheets for a some enemies in the game and their corresponding animations.
    .container.text-center.my-5
      p Pinwheel Enemy Movement
      img(src="assets/pinwheel.png").mr-5
      img(src="assets/pinwheel.gif").ml-5
    .container.text-center.my-5
      p Original Player Character Death Animation
      img(src="assets/turretExplosion.png")
      img(src="assets/turretExplosion.gif")
    .container.text-center
      p Big Enemy Death Animation
      img(src="assets/bigDeath.png")
      img(src="assets/bigDeath.gif")
    hr.bg-white

    
  
    
