extends layout.pug

block content
  .col-md-9.bg-light.text-dark.p-4.top
    h1.font-weight-bold Hey, I'm Daniel.
    p.lead.p-2 I am a scientist and hobbyist programmer who has a passion for clean, readable code. Here I keep a collection of projects and oddities that I have worked on over the years, from my days as a student all the way up to today.
    p.lead.p-2 I live in San Diego, where I currently work at a biotech company that manufacutures DNA oligonucleotides (that's a cool way of saying short DNA molecules). Although lately I have been veering into the more coding side of things. My interests include 
    p.lead.p-2 Contact me to learn more. (My contact info is at the top left of the page, just below my name).
    hr.mx-5.bg-dark
