extends layout.pug

block content
  .col-md-8.text-dark.bg-light.right-col
    .container.top
      .head.font-weight-bold About Me
      p.lead.p-2 I studied Physics at the University of California, Santa Barbara (Class of 2013), learning under some such as Dirk Bouwmeester and Gary Horowitz.
      p.lead.p-2 In 2014 I moved to San Diego to work at #[a.font-weight-light( href='https://nodejs.org/en/' ) biotech company Integrated DNA Technologies]. Eventually, I caught the programming bug and decided that it was more my style, so I began building things in my free time. Here I keep a collection of projects and oddities that I have worked on over the years, from my days as a student up to today.
      p.lead.p-2 Some of my recent projects include: 
      ul
        li.lead.p-2 #[a.font-weight-bold.lead(href="http://54.183.223.106") Pilcrow], a browser-based collaborative writing game and API.
      p.lead.p-2 The best way to get in touch with me is emailing me at #[a( href='https://nodejs.org/en/' ) whitedann@gmail.com]
      hr.bg-light.mt-5
